:root {
  /* Colores base */
  --color-header: #2F2F2F;        /* Fondo oscuro para header */
  --color-footer: #1A1A1A;        /* Fondo oscuro para footer */
  --color-fondo: #F5F5F5;         /* Fondo claro general */
  --color-tarjeta: #FFFFFF;       /* Fondo de tarjetas y contenedores */

  /* Colores de texto */
  --color-texto: #333333;         /* Texto normal en fondos claros */
  --color-texto-inverso: #FFFFFF; /* Texto sobre fondos oscuros */

  /* Colores de acento */
  --color-iconos: #adadad;        /* Botones, iconos, acentos */

  /* Colores de interacción */
  --color-hover-claro: #cecece;   /* Hover sobre fondos oscuros */
  

  /* Tamaños de fuente */
  --fs-h1: 46px;
  --fs-h2: 38px;
  --fs-h3: 32px;
  --fs-textoBotones: 16px;
  --fs-textoParrafo: 14px;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.playfair-display-font-playfair {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

h1, h2, h3, h4, h5, h6, button, details {
  font-family: "Bebas Neue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
}

p, span, a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

body {
    margin: 0;
}


/* Header */
header {
    position: fixed;
    top: 0;
    background-color: var(--color-header);
    color: var(--color-texto-inverso);
    width: 100%;
    z-index: 1000;
    
}



.contenedor-nav-header {
    padding: 1rem;
}

@media (min-width: 1024px) {
    .contenedor-nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-reponsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 3rem;
}

.contenedor-imagen-header {
    max-width: 50%;
    object-fit: contain;
}

@media (min-width: 768px) {
    .contenedor-imagen-header {
        max-width: 80%;
    }
}

.contenedor-imagen-header img {
    max-width: 100%;
    height: 3rem    ;
}



.contenedor-boton-hamburguesa {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--color-header);
}



@media (min-width: 1024px) {
    .contenedor-boton-hamburguesa {
        display: none;
    }
}

.boton-hamburguesa-header {
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

}
.contenedor-boton-hamburguesa svg {
    width: 2rem;
    color: var(--color-texto-inverso);
    
}

.menu:hover  li {
    opacity: 0.2;
}

.menu li:hover {
    opacity: 1;
    color: var(--gris-arena);
    transition: 0.3s;
}

.menu-categorias-header {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    justify-content: space-between;
}



@media (min-width: 1024px) {
    .menu-categorias-header {
        display: flex;
        flex-direction: row;
        gap: rem;
        width: 60%;
    }
}

.vinculos-categorias-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
    margin-top: 1rem;
}

@media (min-width: 1024px){
    .vinculos-categorias-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 1.25rem;
        margin-top: 0;
    }
}

.menu-categorias-header ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    font-size: 18px;
    margin-bottom: 1rem;
}



@media (min-width: 1024px) {
    .menu-categorias-header ul {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
}

 a {
    color: var(--color-texto-inverso);
    text-decoration: none;
    
}

.contenedor-iconos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 0.75rem;
}

@media (min-width: 1024px) {
    .contenedor-iconos-header {
        width: 50%;
        justify-content: flex-end;
        gap: 2rem;
    }
}

.barra-busqueda-header {
    position: relative;
    width: 50%;
    
}

.barra-busqueda-header input {
    font-size: var(--fs-textoBotones);
    color: var(--color-texto);
    border-color: var(--color-iconos);
    border-width: 1px;
    background-color: var(--color-fondo);
    border-radius: 4px ;
    padding-left: 1.25rem;
    padding-right: 0.75rem;
    margin-left: 0.75rem;
    width: 100%;
    height: 2rem;
}

@media (min-width: 1024px) {
    .barra-busqueda-header {
        width: 40%;
    }
}

.icono-busqueda {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items:center ;
    padding-left: 0.75rem;
    pointer-events: none;
}

.icono-busqueda svg {
    width: 1.10rem;
    height: 1.10rem;
    color: var(--color-header);
}

.iconos-header-accesos {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    margin-right: 0.75rem;
    
}

.boton-iconos-header {
    background: none;
    border: none;
}

.boton-iconos-header svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-fondo);
}

/* Header */

/* Footer */
.main-footer {
    background-color: var(--color-footer);
    color: var(--color-texto-inverso);
    padding: 2rem;
    padding-top: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
    .main-footer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .main-footer {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1.0rem;
        
    }
}

.main-footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    list-style: none;
}

.main-footer li {
    font-size: 18px;
}

.main-footer a:hover {
    color: var(--color-texto-inverso);
    
}
/* Footer */

/* Main */
main {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    width: 100%;
}


.contenedor-seccion {
    max-width: 100%;
    height: 100vh;
}
/* Seccion principal */
.seccion-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem;
    
}

.contenedor-logo-seccion-principal {
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.logo-principal {
    width: 100%;
    
}

.logo-principal img {
    width: 100%;
    height: auto;
    object-fit: contain;

}

@media (min-width: 640px){
    .logo-principal {
        width: 75%;
    }
}

@media (min-width: 1024px){
    .logo-principal {
        width: 65%;
    }
}

.categorias-seccion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.categorias-seccion-principal a {
    width: 100%;
    height: 3rem;
}

.categorias-seccion-principal button {
    background-color: var(--color-header);
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--color-texto-inverso);
    font-size: 24px;
}

#hero-section {
  background-image: url('/assets/images/cuero.jpg');
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

section:not(#hero-section) {
  background-color: white;
}

/* Seccion Categorias */
.seccion-categorias {
    padding: 2.5rem 1rem;
}

.contenido-categorias {
    width: 100%;
    margin: 0 auto;
}

.contenido-categorias h1 {
    font-size: var(--fs-h1);
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin-bottom: 1.5rem;
}

.seccion-grid-categorias {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
    height: 100%;
    padding: 1rem;
    
}

@media (min-width: 640px) {
    .seccion-grid-categorias{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        
    }
}

@media (min-width: 1024px) {
    .seccion-grid-categorias{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }
}

.item-categorias {
    position: relative;
    width: 100%;
    height: 100%;
   /*  border: 1px solid var(--color-header); */
    
    border-radius: 5px;
}

.item-categorias:hover {
    box-shadow: -5px 5px 5px -5px  var(--color-header);
}

.item-categorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.texto-item-categorias {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 12px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.texto-item-categorias h2 {
    margin-top: 0;
    color: var(--color-texto);
    font-size: 15px;
}

/* Colecciones */
.colecciones-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    height: 100%;
    
}

@media (min-width: 640px) {
    .texto-item-categorias h2 {
        font-size: 24px;
    }

    .colecciones-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .colecciones-grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(1, minmax(0, 1fr));
    }
}

.item-colecciones {
    background-color: var(--color-iconos);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.imagen-item-colecciones {
    width: 100%;
    height: 70%;
}

@media (min-width: 640px) {
    .imagen-item-colecciones {
        height: 18rem;
    }
}
@media (min-width: 768px) {
    .imagen-item-colecciones {
        height: 20rem;
    }
}

.imagen-item-colecciones img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-item-colecciones {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 30%;
}

.texto-item-colecciones h2 {
    margin: 0;
}
/* Productos */
aside details {
    color: var(--color-texto);
}
/* Productos */
/* Tarjetas productos */
.contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
    justify-content: center;
}


.card-producto {
  width: 157px;
  background-color: var(--color-fondo);
  /* border: 2px solid var(--color-iconos); */
  padding-bottom: 0.5rem;
  /* border-radius: 10px;
  box-shadow: 0 2px 5px var(--color-header); */
  color: var(--color-texto);
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 320px;
  box-shadow: 0 2px 5px var(--color-iconos);
}

@media (min-width: 768px) {
  .card-producto {
    width: 200px;
    height: 350px;
  }

  .card-producto .contenedor-imagen-productos {
    height: 70%;
  }

    .card-producto .contenedor-texto-producto {
        height: 30%;
    }

  .contenedor-productos {
    justify-content: center;
    gap: 30px;
  }
}

.contenedor-imagen-productos {
  width: 100%;
  height: 60%;
  overflow: hidden;
  margin-bottom: 0.5rem;
  
}

.card-producto img {
  width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.contenedor-texto-producto {
  height: 40%;
  margin-bottom: 0.5rem;
  padding-left: 0.25rem;
}

.card-producto h3 {
  font-size: 16px;
  width: 100%;
  max-height: 20%;
  padding: 0.25rem;

}

.card-producto span {
  margin: 0px 5px 10px;
  font-weight: 900;
  width: 100%;
  max-height: 10%;
}

.card-producto button {
  
  padding: 5px;
  display: none;
  justify-content: center;
  background-color: var(--color-iconos);
  border-radius: 1rem;
  color: var(--beige-corteza-suave);
  max-height: 100%;
  width: 90%;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .card-producto button {
    display: flex;
    width: 100%;
    max-height: 100%;
    font-size: var(--fs-textoBotones);
  }
  }

  .card-producto {
    width: 300px;
    height: 450px;
    box-shadow: none;
  }

  .card-producto .contenedor-imagen-productos {
    height: 70%;
  }

  .card-producto .contenedor-imagen-productos img:hover {
    transform: scale(1.5);
    transition: 0.2s;
    cursor: pointer;
  }

    .card-producto .contenedor-texto-producto {
        height: 20%;
        
    }
    
  .contenedor-productos {
    justify-content: center;
    gap: 30px;
  }


.card-producto button {
  background-color: var(--color-iconos);
  color: var(--color-texto-inverso);
  font-size: var(--fs-textoBotones);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.card-producto button:hover {
  background-color: var(--color-header);
  color: var(--color-texto-inverso);
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.05);
}

/* Tarjetas productos */

/* Main */



/* Anuncios */
.contenedor-anuncios {
    overflow: hidden;
    background-color: var(--color-iconos);
    margin: 0 0;
    padding: 0.75rem 0;
}

.contenedor-anuncios img {
    height: 10rem;
    display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.scroll-container {
  overflow: hidden;
  position: relative;
}

.scroll-track {
  width: max-content;
  animation: scroll 20s linear infinite;
}

.scroll-container:hover .scroll-track {
  animation-play-state: paused;
}
/* Anuncios */



/* Envios */
.contenedor-items-envios {
    padding: 1.25rem 0;
    text-align: center;
    background-color: var(--color-iconos);
    color: var(--color-texto-inverso);
    margin-bottom: 3rem;
}

.grid-items-envios {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    gap: 2rem;
}

@media (min-width:640px){
    .grid-items-envios {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width:768px){
    .grid-items-envios {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.item-envios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    
}

.item-envios img {
    width: 5rem;
    height: 5rem;
}

.item-envios h3 {
    margin: 0.75rem 0;
}

.item-envios p {
    margin-top: 0;
}
/* Envios */



