<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/prueba.css" />
  </head>
  <body>
    <header>
      <nav class="contenedor-nav-header">
        <!-- logo -->
        <div class="header-reponsive">
          <div class="contenedor-imagen-header hover:scale-105 transition">
            <a href="/index.html">
              <img
                src="/assets/images/logos/logoBlancoChevignonClasicoSinFondo.png"
                alt="Logo"
              />
            </a>
          </div>
          <div class="contenedor-boton-hamburguesa">
            <button
              id="boton-menu"
              type="button"
              class="boton-hamburguesa-header"
            >
              <!-- Icono hamburguesa -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>

        <nav id="menu-celular" class="menu-categorias-header">
          <div id="" class="menu vinculos-categorias-header">
            <!-- menu header -->
            <ul>
              <li>
                <a href="/productos.html"> Hombres </a>
              </li>
              <li>
                <a href="/productos.html"> Mujeres </a>
              </li>
              <li>
                <a href="/productos.html"> Niños </a>
              </li>
            </ul>
          </div>

          <!-- iconos header-->
          <div class="contenedor-iconos-header">
            <!-- buscador -->
            <div class="barra-busqueda-header">
              <input type="search" placeholder="Buscar..." />
              <div class="icono-busqueda">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1 0 7.5 7.5a7.5 7.5 0 0 0 9.15 9.15z"
                  />
                </svg>
              </div>
            </div>
            <div class="iconos-header-accesos">
              <!-- bandera -->
              <button class="boton-iconos-header hover:scale-105 transition">
                <img
                  width="32"
                  height="32"
                  src="https://img.icons8.com/color/48/colombia-circular.png"
                  alt="colombia-circular"
                />
              </button>
              <!-- usuario -->
              <button class="boton-iconos-header hover:scale-105 transition">
                <a href="/login-registro.html">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                    />
                  </svg>
                </a>
              </button>
              <!-- carrito -->
              <button id="botonCarrito" class="hover:scale-105 transition boton-iconos-header">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                  />
                </svg>
              </button>
            </div>

            <div id="carritoPanel" class="carrito-panel"></div>
          </div>
        </nav>
      </nav>
    </header>
    <script src="/js/script.js" type="module"></script>
  </body>
</html>
