<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promociones</title>
    <script></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/prueba.css" />
  </head>
  <body>
    <section class="contenedor-anuncios">
      <div class="scroll-container">
        <div class="scroll-track flex items-center gap-4">
          <img src="/assets/images/promociones/promo1.webp" alt="promo" />

          <img src="/assets/images/promociones/promo2.jpg" alt="promo" />

          <img src="/assets/images/promociones/promo3.jpg" alt="promo" />

          <img src="/assets/images/promociones/promo1.webp" alt="promo" />

          <img src="/assets/images/promociones/promo2.jpg" alt="promo" />

          <img src="/assets/images/promociones/promo3.jpg" alt="promo" />
        </div>
      </div>
    </section>
  </body>
</html>
